.color-container {
  display: inline-flex;
  align-items: center;
  margin-top: 5px;
  margin-bottom: 5px;
  margin-left: 10px;
  margin-right: 10px;
}

.color-desc {
  margin-right: 5px;
}

.color {
  cursor: pointer;
}

.color::-webkit-color-swatch {
    border: none;
}

.color::-webkit-color-swatch-wrapper {
    padding: 0;
}
