#root {
  max-width: 1280px;
  margin: 0 auto;
  padding: 2rem;
  text-align: center;
}

textarea {
  font-size: 12pt;
  width: 100%;
}

.dropdown-container {
  display: inline-flex;
  align-items: center;
  justify-content: center;
  margin-top: 5px;
  margin-bottom: 5px;
  margin-left: 10px;
  margin-right: 10px;
}

.dropdown-desc {
  margin-right: 5px;
}
